// @import '../styles.scss';

header {
  position: fixed;
  width: 100vw;
}

main {
  padding: 4rem 6rem 2rem;

  min-height: 100vh;

  background: #00214d;
  background: linear-gradient(180deg, rgb(0, 73, 168) 0%, rgb(0, 2, 55) 70%);

  color: azure;
}
