#title {
  text-align: center;
  margin-bottom: 1.5rem;
}

#add-container {
  button {
    width: 70%;
  }
}

.camel-actions {
  display: flex;
  justify-content: space-evenly;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

tr:hover .camel-actions {
  opacity: 1;
  visibility: visible;
}

.camel-form {
  .modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.form-dates {
  display: flex;
  flex-direction: row;
}
