.camel-actions {
  display: flex;
  justify-content: space-between;
  width: 90%;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

tr:hover .camel-actions {
  opacity: 1;
  visibility: visible;
}
