#title {
  text-align: center;
  margin-bottom: 1.5rem;
}

#add-container {
  button {
    width: 70%;
  }
}

.camel-actions {
  display: flex;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

tr:hover .camel-actions {
  opacity: 1;
  visibility: visible;
}
